[submodule "azurelinux-repo"]
	path = azurelinux-repo
	url = https://github.com/cilegordev/azurelinux-repo
[submodule "Flat-Adwaita"]
	path = Flat-Adwaita
	url = https://github.com/cilegordev/Flat-Adwaita
[submodule "neofetch"]
	path = neofetch
	url = https://github.com/cilegordev/neofetch
